@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.div-principal {
    background-color: teal;
    width: 100%;
    text-align: center;
}
.cabecalho-secao #titulo-secao {
    font-family: 'Ubuntu', sans-serif;
    font-size: xx-large;
}